/**Card Styles**/
.cards-container {
    border-radius: 10px;
    gap: 20px;
}

.langauage-card {
    background-color: var(--button-bg-color);
    height: fit-content;
    border-radius: 10px;
    box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-info-container {
    padding: 15px 0 15px 15px;
    gap: 30px;
}

.topics-title {
    padding: 20px 0 20px 0;
}

.rate-author-container {
    gap: 10px;
}

.language-name, .card-type  {
    color: var(--body-test-color);
}

.card-type {
    padding-bottom: 5px;
    font-weight: 500;
}

.img-container {
    height: 150px;
}

.star{
    color: gold;
    padding-bottom: 7px;
}

.card-type, .language-name{
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.author-name{
    color: var(--author-name);
}
