.details-card{
    min-width: 265px;
    max-width: 265px;
    border: 2px solid white;
    margin-bottom: -40%;
    display: flex;
    height: fit-content;
    gap: 18px;
    flex-direction: column;
    background-color: white;
    padding-bottom: 10px;
    margin-top: 25px;
}

.credits{
    color: #7c7c7c;
    font-size: 12px;
}

.author-card{
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__by{
    color: #333333;
    font-size: 15px;
    
}

.bandaka{
    min-width: 265px;
    max-width: 265px;
}

.img-container {
    height: 150px;
    overflow: hidden;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.favourites-button-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: 15px 15px 10px 15px;
    border: 1px solid #DDDDDD;
}

.add-to-favourits-button{
    width: 100%;
    height: 40px;
}

.creadits-container{
    width: 100%;
    text-align: center;
}

.card-title-container{
    display: flex;
    align-items: center;
    gap: 4px;
}

.add-to-favourits-button {
    background-color: var(--highlight-green);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.add-to-favourits-button-span {
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
}

.card-full-info{
    line-height: 25px;
}

@media (max-width: 1200px) {
  .details-card{
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
    .details-card {
        display: none;
    }
}

