.details-container {
    flex-grow: 1;
    background-color: var(--background-color);
}

.features-main-container {
    gap: 30px;
}

.features-container {
    background-color: var(--button-bg-color);
    width: 35%;
    margin-top: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.checkmark{
    color: #03C180;
    font-size: 20px;
}

.feature,
.feature-title {
    height: fit-content;
    padding: 15px 0 15px 25px;
    gap: 10px;
    color: var(--body-test-color);
}

.feature {
    border-top: 1px solid var(--border-color);
}

.favourites-button-container {
    border: 1px solid var(--border-color);
}

.language-info-card-container {
    gap: 30px;
    background-color: #333333;
}

.info-main-container {
    width: 35%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.info-title {
    padding-bottom: 10px;
}

.star {
    color: gold;
}

.by-author-container {
    display: none;
}

.by-author {
    gap: 4px;
}

.add-to-favourits-button__heart {
    font-size: 25px;
}

.card-type {
    font-size: 15px;
    color: var(--details-title);
}

@media (min-width: 2000px) {
    .details-container {
        width: 1440px;
    }
}

@media (max-width: 1200px) {
    .language-info-card-container,
    .features-main-container {
        justify-content: space-between;
    }

    .features-main-container {
        padding-left: 15px;
    }

    .features-container {
        width: 75%;
    }

    .info-main-container {
        width: 75%;
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .language-info-card-container {
        background-color: #282828;
        position: relative;
        filter: brightness(1);
    }

    .features-main-container {
        flex-direction: column;
        padding-right: 15px;
    }

    .features-container {
        width: 100%;
    }

    .info-main-container {
        width: 95%;
        padding-left: 10px;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.1);
    }

    .by-author-container {
        display: block;
    }

    .add-to-favourits-button-mobile {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #3da58f;
        border: none;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-to-favourits-button-mobile:hover {
        background-color: #2e7d6a;
    }

    .add-to-favourits-button-span {
        color: white;
        display: flex;
        align-items: center;
        font-size: 17px;
    }
}