/**Footer Styles**/
.footer {
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-heart{
    font-size: 20px;
    color: #DC143C;
}

.footer-text{
    gap: 5px;
    color: var(--body-test-color);
    font-weight: 300;
}

@media (min-width: 2000px) {
    .footer {
        width: 1440px;
    }
}