/** Global Variables **/

:root {
    /* Color Palette */
    --primary-color: #0768AC;
    --highlight-green: #03C180;
    --background-color: #F0F9FF;
    --button-bg-color: white;
    --border-color: #DDDDDD;
    --body-test-color: #333333;
    --button-color: lightgray;
    --author-name: #7c7c7c;
    --details-title:#1c9e72;

    /* Font */
    --main-font: 'Nunito Sans', sans-serif;
}

.dark-mode{
    --primary-color: #0768AC;
    --highlight-green: #03C180;
    --background-color: #282828;
    --button-bg-color: #1A1A1A;
    --border-color: #000000;
    --body-test-color: #EDEDED;
    --author-name: #7c7c7c;
    --button-color: #333333;
}

/** Global Styles **/
* {
    font-family: var(--main-font) !important;
}

body,
html {
    line-height: normal !important;
}

.icon{
    color: var(--body-test-color);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    margin-bottom: 0 !important;
}

span{
    color: var(--body-test-color);
}

@media (min-width: 2000px) {
    .main-container {
        align-items: center;
    }
}

@media (max-width: 500px) {
    .content-container {
        padding: 20px 10px;
    }
}